<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503043317259-gn2scv78omu0lpgceai7dk0bfg7c8ndh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503043317259-gn2scv78omu0lpgceai7dk0bfg7c8ndh</string>
	<key>API_KEY</key>
	<string>AIzaSyChro0LtRoGdahrn0aqBiyPBhri9T-f1JQ</string>
	<key>GCM_SENDER_ID</key>
	<string>503043317259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rayoung.PickDrink</string>
	<key>PROJECT_ID</key>
	<string>pickdrink-492de</string>
	<key>STORAGE_BUCKET</key>
	<string>pickdrink-492de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503043317259:ios:8e19688828a8527154f10e</string>
</dict>
</plist>